* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

/* NAV BAR */
nav {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.logo {
  height: 20vh;
}

.nav-links {
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 14px;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
}
@media (max-width: 767px) {
  .burger {
    display: block;
    cursor: pointer;
  }
}

.burger div {
  width: 30px;
  height: 2px;
  margin: 6px;
  background-color: black;
}

@media (max-width: 767px) {
  nav {
    width: 100vw;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 82vh;
    width: 50%;
    top: 19vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding: 0px;
    margin-top: 0;
    overflow: hidden;
  }
  .nav-links li {
    opacity: 0;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* INTRO */

.slogan {
  font-size: 40px;
  align-self: center;
  margin: 50px;
}
.intro {
  min-height: 80vh;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffdc82;
}

.foto-intro {
  display: inline;
  height: 100vh;
  margin: 80px;
  box-shadow: 15px -15px 0 -3px #ffdc82, 15px -15px 0 0 black;
}

@media (max-width: 767px) {
  .intro {
    min-height: 50vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }

  .foto-intro {
    display: block;
    height: 50vh;
    margin: auto;
    box-shadow: 15px -15px 0 -3px #ffdc82, 15px -15px 0 0 black;
    margin: 25px auto;
  }
  .slogan {
    display: block;
    font-size: 20px;
  }
}

/* TABLAS */

.tablas {
  display: flex;
  height: 100vh;
  background-color: rgb(58, 211, 211);
  padding: 20px;
}

.tablas-titulo {
  margin: 0 auto;
}

/* ACERCA DE */

.acerca-de {
  display: grid;
  grid-template-rows: 20vh auto;
  min-height: 100vh;
  background-color: white;
  padding: 20px;
}

.acerca-de-titulo {
  display: block;
  margin: 10px auto;
}

.acerca-de-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 0 200px;
  margin-bottom: 100px;
  align-items: center;
}
.acerca-de-foto {
  max-height: 70vh;
  box-shadow: -15px 15px 0 -3px white, -15px 15px 0 0 black;
}
.acerca-de-content-text {
  font-size: 24px;
}

@media (max-width: 767px) {
  .acerca-de {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .acerca-de-titulo {
    margin-bottom: 35px;
  }

  .acerca-de-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 15px;
    margin: 0 15px;
  }
  .acerca-de-foto {
    display: block;
    margin: 0 auto;
    padding: 0;
    height: 50vh;
  }
  .acerca-de-content-text {
    display: block;
    font-size: 16px;
  }
}

/* CONTACTO */

.contacto {
  display: flex;
  min-height: 100vh;
  background-color: black;
  padding: 20px;
}

.contacto-titulo {
  color: white;
  margin: 0 auto;
}
