* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

.body-stuck {
  overflow: hidden;
}

/* NAV BAR */
nav {
  overflow-x: hidden;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.logo {
  height: 20vh;
  z-index: 1;
}

.nav-links {
  overflow-x: hidden;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 20px;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
}

.burger div {
  width: 45px;
  height: 4px;
  margin: 6px;
  background-color: black;
}

@media (max-width: 767px) {
  .burger {
    display: block;
    cursor: pointer;
  }
  nav {
    width: 100vw;
    top: 0;
    overflow: hidden;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 10vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(300%);
    transition: transform 0.2s ease-in;
    padding: 0px;
    padding-top: 150px;
    padding-bottom: 350px;
    font-size: 36px;
    overflow: hidden;
  }
  .nav-links li {
    opacity: 0;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.nav-active {
  transform: translateY(-10%);
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-9px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -5px);
}

/* INTRO */

.slogan {
  font-size: 40px;
  align-self: center;
  margin: 50px;
}
.intro {
  min-height: 80vh;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffdc82;
}

.foto-intro {
  display: inline;
  height: 100vh;
  margin: 80px;
  box-shadow: 15px -15px 0 -3px #ffdc82, 15px -15px 0 0 black;
}

@media (max-width: 767px) {
  .intro {
    min-height: 50vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }

  .foto-intro {
    display: block;
    height: 50vh;
    margin: auto;
    box-shadow: 15px -15px 0 -3px #ffdc82, 15px -15px 0 0 black;
    margin: 25px auto;
  }
  .slogan {
    display: block;
    font-size: 20px;
  }
}

/* TABLAS */

.tablas {
  display: flex;
  height: 100vh;
  background-color: rgb(58, 211, 211);
  padding: 20px;
}

.tablas-titulo {
  margin: 0 auto;
}

/* ACERCA DE */

.acerca-de {
  display: grid;
  grid-template-rows: 20vh auto;
  min-height: 100vh;
  background-color: white;
  padding: 20px;
}

.acerca-de-titulo {
  display: block;
  margin: 10px auto;
}

.acerca-de-content {
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
}
.acerca-de-foto {
  max-height: 70vh;
  box-shadow: -15px 15px 0 -3px white, -15px 15px 0 0 black;
}
.acerca-de-content-text {
  max-width: 70vh;
  font-size: 24px;
  align-self: center;
}

@media (max-width: 767px) {
  .acerca-de {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .acerca-de-titulo {
    margin-bottom: 35px;
  }

  .acerca-de-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 15px;
    margin: 0 15px;
  }
  .acerca-de-foto {
    display: block;
    margin: 0 auto;
    padding: 0;
    height: 50vh;
  }
  .acerca-de-content-text {
    display: block;
    font-size: 16px;
  }
}

/* CONTACTO */

.contacto {
  display: flex;
  min-height: 100vh;
  background-color: black;
  padding: 20px;
}

.contacto-titulo {
  color: white;
  margin: 0 auto;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  background-color: #b9b9b9;
}

.sm {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-logo {
  margin: 10px;
}

.img-footer-logo {
  height: 75px;
}

.logo-footer {
  margin: 10px;
}

.copyright {
  margin: 5px 0;
  font-size: 13px;
}

.social-logo {
  height: 40px;
}

.media-link {
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 767px) {
  .footer {
    height: 300px;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
  }
  .logo-footer {
    padding: 0;
    display: grid;
    justify-content: center;
  }
  .sm {
    margin: 25px;
  }
}
